{% comment %}
    Product card for lookbook items
 
    Displays an individual product within a lookbook collection.
 
    Used in both main-product.liquid (for associated lookbooks) and lookbook.liquid (for lookbook collections)
{% endcomment %}

<div class="lookbook_product" onclick="showDetails(event)">
    {% if item.featured_image %}
        <div class="lookbook_image-container">
            <img
                src="{{ item.featured_media | image_url: width: 300 }}"
                alt="{{ item.featured_media.alt | escape }}"
                class="motion-reduce lookbook_image"
                draggable="false"
            >
        </div>
    {% else  %}
        {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <div class="lookbook_details">
        <h3 class="lookbook_product-title">
            <a href="{{ item.url }}" class="lookbook_link full-unstyled-link">
                {{ item.title }}
            </a>
        </h3>

        <h4>{{ item.price | money }}</h4>
    </div>
  </div>