{{ 'lookbook.css' | asset_url | stylesheet_tag }}
{{ 'lookbook.js' | asset_url | script_tag }}

<section class="lookbook center">

    <h2 class="inline-richtext h1 scroll-trigger animate--slide-in">{{ section.settings.lookbook_title }}</h2>
    <p>{{ section.settings.lookbook_desc }}</p>

    <div class="lookbook_products-container">
        {% for product in section.settings.lookbook_products %}
            <div class="lookbook_product" onclick="showDetails(event)">
                

                    {% if product.featured_image %}
                        <div class="lookbook_image-container">
                            <img
                                src="{{ product.featured_media | image_url: width: 300 }}"
                                alt="{{ product.featured_media.alt | escape }}"
                                class="motion-reduce lookbook_image"
                                draggable="false"
                            >
                        </div>
                    {% else  %}
                        {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}

                    <div class="lookbook_details">
                        <h3 class="lookbook_product-title">
                            <a href="{{ product.url }}" class="lookbook_link full-unstyled-link">
                                {{ product.title }}
                            </a>
                        </h3>

                        <h4>{{ product.price | money }}</h4>
                    </div>
            </div>
        {% endfor %}
    </div>
</section>

{%  schema %}
    {
        "name": "Lookbook",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "text",
                "id": "lookbook_title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "lookbook_desc",
                "label": "Description"
            },
            {
                "type": "product_list",
                "id": "lookbook_products",
                "label": "Select Lookbook"
            }
        ],
        "presets": [
            {
            "name": "Lookbook",
            "category": "Collections"
            }
        ]
    }
{% endschema %}